@import 'fonts.css';




/* 

! Variables

*/

:root{
   --bg-gray-top: #d1d1d1;
   --bg-gray-bottom: #efefef;
   --main-bg: rgba(255, 255, 255, 0.2);
   --bg-clouds-top: #ff8f4f;
   --bg--clouds-bottom: #cf4700;
   --bg-humidity-top: #eb78ac;
   --bg-humidity-bottom: #940044;
   --bg-pressure-top: #6082d4;
   --bg-pressure-bottom: #002362;
   --pirmary-text-colore: #352f2f;
   --secondary-text-colore: #fefefe;
}



/* 

! Reset

*/

html{
    box-sizing: border-box;
    font-size: 10px;
}

*,
::after,
::before{
    box-sizing: inherit;
    font-size: inherit;
    margin: 0;
}


a{
    text-decoration: none;
    color: inherit;
}

input{
    outline: none;
    color: inherit;
}

button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}



body{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    background-image: linear-gradient(var(--bg-gray-top),var(--bg-gray-bottom));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: var(--pirmary-text-colore);
}



/* 

* App Css

*/

/* ? MAin */


.main{
    background-color: var(--main-bg);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 2rem;
    padding: 2rem;
}

.weatherApp__wrapper{

}
.form{
    position: relative;
}
#weatherApp__search{
    width: 100%;
    height: 3.3rem;
    border-radius: 5rem;
    border: 1px solid var(--bg-gray-top);
    background-color: transparent;
    padding: 1rem;
    font-size: 1.5rem;
}
.weatherApp__search-btn{
    position: absolute;
    right: 1rem;
    height: 3.3rem;
    background-color: transparent;
    color: #686868;
}
.weatherApp__details{

}
.weatherApp__location--wrapper{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.weatherApp__location{
    font-size: 1.8rem;
    color: var(--pirmary-text-colore);
}
.weatherApp__flag{
    width: 3rem;
    height: 3rem;
    display: block;
}
.weatherApp__img{
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.4));
    display: block;
    margin: auto;
    width: 20rem;
    height: 20rem;
}
.weatherApp__temperature--wrapper{

}
.weatherApp__temperature-content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 400;
    position: relative;
}
.weatherApp__temperature{
    
}
.weatherApp__temperature::after{
    content: "";
    position: absolute;
    border: 0.4rem solid;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}
.weatherApp__description{
    font-weight: 700;
    font-size: 1.5rem;
}
.weatherApp__more-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    color: var(--secondary-text-colore);
    margin-top: 3rem;
    font-size: 1.3rem;
}
.weatherApp__clouds{
    background-image: linear-gradient(var(--bg-clouds-top), var(--bg--clouds-bottom));
}
.weatherApp__humidity{
    background-image: linear-gradient(var(--bg-humidity-top),var(--bg-humidity-bottom));
}
.weatherApp__pressure{
    background-image: linear-gradient(var(--bg-pressure-top),var(--bg-pressure-bottom));
}
.weatherApp__clouds,
.weatherApp__humidity,
.weatherApp__pressure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.more-details__name{
    letter-spacing: 1px;
    font-weight: 500;
}
.more-details{
    font-weight: 400;
}

main.error{
    animation: errorEffect 0.3s linear 1;
}

@keyframes errorEffect{
    0%{
       transform: translate(10px , 5px);
    }
    25%{
        transform: translate(10px , 5px);
    }
    50%{
        transform: translate(8px , 2px);
    }
    75%{
        transform: translate(-2px , 5px);
    }
    100%{
        transform: translate(0 , 0);
    }
}

/* 

! Copyright

*/

.copyright__weapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-weight: 700;
}
.copyright{
    font-size: 1.3rem;
}
.github__link{
    
}

