@import 'fonts.css';




/* 

! Variables

*/

:root{
   --bg-gray-top: #d1d1d1;
   --bg-gray-bottom: #efefef;
   --main-bg: rgba(255, 255, 255, 0.2);
   --bg-clouds-top: #eb864c;
   --bg--clouds-bottom: #ab5e36;
   --bg-humidity-top: #a65f7f;
   --bg-humidity-bottom: #7e4861;
   --bg-pressure-top: #435173;
   --bg-pressure-bottom: #2d3a51;
}



/* 

! Reset

*/

html{
    box-sizing: border-box;
    font-size: 10px;
}

*,
::after,
::before{
    box-sizing: inherit;
    font-size: inherit;
    margin: 0;
}


a{
    text-decoration: none;
}

input{
    outline: none;
}

button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}



body{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    background-image: linear-gradient(var(--bg-gray-top),var(--bg-gray-bottom));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}



/* 

* App Css

*/

/* ? MAin */


.main{
    background-color: var(--main-bg);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 2rem;
    padding: 2rem;
}

.weatherApp__wrapper{

}
.form{
    position: relative;
}
#weatherApp__search{
    width: 100%;
    height: 2.8rem;
    border-radius: 5rem;
    border: 1px solid var(--bg-gray-top);
    background-color: transparent;
    padding: 0.5rem;
}
.weatherApp__search-btn{
    position: absolute;
    right: 1rem;
    height: 2.8rem;
    background-color: transparent;
    color: #686868;
}
.weatherApp__details{

}
.weatherApp__location--wrapper{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.weatherApp__location{
    font-size: 1.8rem;
    color: #525252;
}
.weatherApp__flag{
    width: 3rem;
    height: 3rem;
    display: block;
}
.weatherApp__img{
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.4));

}
.weatherApp__temperature--wrapper{

}
.weatherApp__temperature-content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.weatherApp__temperature{

}
.weatherApp__description{

}
.weatherApp__more-details{

}
.weatherApp__clouds{

}
.weatherApp__humidity{

}
.weatherApp__pressure{

}
.details__name{

}
.more-details{

}

.copyright__weapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.copyright{
    
}
.github__link{
    
}
